.pagination {
  margin: auto;
}

.pagination * {
  color: #444;
}

.errorContainer {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.errorContainer > p {
  font-size: 1.8rem;
  font-weight: 500;
  color: #4f4f4f;
}

.emptyResultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.emptyResultContainer > p {
  font-size: 1.8rem;
  font-weight: 500;
  color: #4f4f4f;
}