.courseContainer {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border: 1px solid #efefef;
    border-radius: 0.4rem;
    transition: all 0.3s ease-in-out;
}

.courseContainer .imageContainer {
    margin: 1rem;
}

.courseContainer .imageContainer img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0px !important;
}

.courseContainer .courseInfo {
    padding: 1rem 1.2em 3rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.courseContainer .courseInfo .courseName {
    text-align: center;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
            line-clamp: 2; 
    -webkit-box-orient: vertical;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.courseContainer:hover {
    background-color: #ffffef;
}

.courseContainer:hover .courseInfo .courseName {
    color: #2457C5;
}