.pageContainer {
    width: 100%;
    height: calc(100vh - 9.1rem);
    display: flex;
}

.pageContainer .messageContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.pageContainer .messageContainer > .messageInfoContainer,
.pageContainer .messageContainer > .messages,
.pageContainer .messageContainer > .messageInputContainer {
    padding: 1rem;
}

.pageContainer .messageContainer .messageInfoContainer,
.pageContainer .contactContainer .contact {
    display: flex;
    align-items: center;
}

.pageContainer .messageContainer .messages .mine {
    max-width: 70%;
    margin-left: auto;
    margin-bottom: 1rem;
    background-color: #228BE6;
}

.pageContainer .messageContainer .messages .yours {
    max-width: 70%;
    margin-bottom: 1rem;
}

.pageContainer .contactContainer {
    background-color: #F1F3F5;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 25%;
}