.header {
    color: #444444;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerContent {
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    padding: 2rem 3rem;
    border-bottom: 1px solid #C5D0CF;
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logoContainer > img {
    width: 3.6rem;
    height: 3.6rem;
}

.logoContainer > p {
    font-weight: bold;
    font-size: 3.2rem;
}

.userNavbarContainer,
.guestNavContainer,
.guestNavContainerMobile {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.guestNavContainer {
    gap: 1rem;
}

.guestNavContainerMobile {
    display: none;
}

.mainContent {
    max-width: 1440px;
    margin: 0 auto;
}

.content {
    display: flex;
    align-items: stretch;
}

@media screen and (max-width: 1024px) {
    .tabletHidden {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .logoContainer > p {
        font-size: 2.8rem;
    }
}

@media screen and (max-width: 480px) {
    .guestNavContainer {
        display: none;
    }

    .guestNavContainerMobile {
        display: flex;
    }

    .userNavbarContainer,
    .guestNavContainer,
    .guestNavContainerMobile {
        flex-grow: 0;
    }

    .logoContainer {
        flex-grow: 1;
    }

    .logoContainer > img {
        display: none !important;
    }

    .logoContainer > p {
        width: 100%;
        text-align: center;
    }
}