.button {
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0.8rem 1.6rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    opacity: 0.9;
}

.buttonPrimary {
    background-color: #2457C5;
    color: white;
}

.buttonSecondary {
    background-color: #4f4f4f;
    color: white;
}

.buttonDanger {
    background-color: #A82424;
    color: white;
}

.buttonSucess {
    background-color: #1B8013;
    color: white;
}