.modalContainer {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    transition: all 0.3s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalNotOpen {
    opacity: 0;
    visibility: hidden;
}

.modalOpen {
    opacity: 1;
    visibility: visible;
}

.modalNotOpen > *:not(.overlay) {
    animation: minimize 0.3s ease-in-out;
}

.modalOpen > *:not(.overlay) {
    animation: bounce 0.3s ease-in-out;
}

@keyframes bounce {
    0% {
        transform: scale3d(0.1, 0.1, 1);
    }

    55% {
        transform: scale3d(1.08, 1.08, 1);
    }

    75% {
        transform: scale3d(0.95, 0.95, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes minimize {
    0% {
        transform: scale3d(1, 1, 1);
    }

    100% {
        transform: scale3d(0.3, 0.3, 1);
    }
}