.wrapPage {
    /* width: 100%; */
    padding-bottom: 5rem;
    flex: 1
}

.banner {
    width: 100%;
    height: 550px;
}

.slider {
    width: 100%;
    height: 100%;
}

.fullHeightSlider,
.fullHeightSlider > div:first-child,
.fullHeightSlider > div > div {
    height: 100%;
}

.slideItem {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content:center;
    align-items:center;
}

.slideItem .pictureBanner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.slideItem .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background-color:rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
}

.slideItem .infoSlide {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 1rem
}

.slideItem .infoSlide .desSlide {
    color: #FEFEFE;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 500;
}

.slideItem .infoSlide .titleSlide {
    color: #FFFFFF;
    text-align: center;
    font-size: 8rem;
    line-height: 8rem;
    font-weight: bold;
}

.slideItem .infoSlide .buttonSlide {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #495BED;
    padding: 1.5rem 3rem;
    border-radius: 100px;
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: bold;
    margin-top: 2rem;
}

/* SERVICE */
.wrapService {
    width: 100%;
    background-color: #F5F7FA;
    padding-top:10rem;
    padding-bottom:10rem;
}

.gridService {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem;
}

.gridService .serviceItem {
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.gridService .serviceItem .wrapIcon {
    width: 10rem;
    height: 10rem;
    border-radius:50%;
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: white;
    box-shadow: 0 6px 30px rgb(0 0 0 / 3%);
    transition: all 0.4s;
}

.gridService .serviceItem .wrapIcon svg {
    color:#F85947;
    transition: all 0.4s;
}

.gridService .serviceItem .titleService {
    text-align: center;
    color:#010305;
    font-weight: 500;
    font-size: 2.5rem;
    margin-top:1.5rem
}

.gridService .serviceItem .desService {
    text-align: center;
    color: #797C7F;
    font-size: 1.6rem;
}

.gridService .serviceItem:hover .wrapIcon {
    transform: translateY(-7px);
    transition: all 0.4s;
}

.gridService .serviceItem:hover .wrapIcon svg {
    color: #010305;
    transition: all 0.4s;
}

/* LIST COURSE */
.wrapCourse {
    padding-top: 10rem;
    padding-bottom: 10rem;
    width: 100%;
}

.wrapCourse .desSection {
    font-size: 1.6rem;
    width: 100%;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
}

.wrapCourse  .titleSection {
    font-size: 4rem;
    width: 100%;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: .5rem
}

.wrapCourse .gridCourse {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    margin-top: 4rem
}

/* SUBSCRIBE */
.wrapSubscribe {
    padding-top: 6rem;
    padding-bottom: 5rem;
    width: 100%;
    background-color: #F5F7FA
}

.wrapSubscribe .wrapIconSection {
    width: 6rem;
    height: 6rem;
    border-radius:50%;
    background-color:#495BED;
    display: flex;
    justify-content:center;
    align-items:center;
    margin-left: auto;
    margin-right: auto;
}

.wrapSubscribe .wrapIconSection svg {
    color: white
}

.wrapSubscribe .titleSection {
    font-weight: 500;
    font-size: 4rem;
    line-height: 4.6rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
    text-align: center;
    margin-top: 2.5rem
}

.wrapSubscribe .wrapFormSubscribe {
    margin-left: auto;
    margin-right: auto;
    max-width: 60rem;
    width: 100%;
    margin-top: 5rem;
}

.wrapSubscribe .wrapFormSubscribe .formSubscribe {
    width: 100%;
    background-color: white;
    height: 6rem;
    border-radius: 100px;
    overflow: hidden;
    display: flex;
    box-shadow: 0 3px 25px rgba(0,0,0,.05);
}

.wrapSubscribe .wrapFormSubscribe .formSubscribe .txtInput {
    width: 100%;
    height: 50%;
    border: none;
    outline: none;
    padding:0 3rem;
    padding-right: 1rem;
    position: relative;
    font-size: 1.8rem;
    border-right: 1px solid #797C7F;
    margin-top: auto;
    margin-bottom: auto;
}

.wrapSubscribe .wrapFormSubscribe .buttonSubmit {
    flex-shrink: 0;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding:0 3rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #06080B;
    background-color:transparent;
    transition: all 0.2s;
}

.wrapSubscribe .wrapFormSubscribe .buttonSubmit:hover {
    color: #495BED;
    transition: all 0.2s;
}

/* VIDEO */
.wrapVideoDemo {
    padding-top: 5rem;
    padding-bottom: 10rem;
    width: 100%;
    background-color: #F5F7FA
}

.wrapVideoDemo .videoDemo {
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content:center;
    align-items:center;
}

.wrapVideoDemo .videoDemo .thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    object-position: top;
}

.wrapVideoDemo .videoDemo .ovlerlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0,0,0, .2)
}

.wrapVideoDemo .videoDemo .buttonPlay {
    position: relative;
    z-index: 3;
    border: none;
    outline: none;
    cursor: pointer;
    width: 7rem;
    height: 7rem;
    border-radius:50%;
    background-color: white
}

.wrapVideoDemo .videoDemo .buttonPlay::after {
    content: "";
    position: absolute;
    width: 9rem;
    height: 9rem;
    border-radius:50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #8b8784
}

.videoModalContainer {
    line-height: 0;
    width: 100%;
    max-width: min(85vw,900px);
    background-color: #000;
  }
  
  .videoModalIframe {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .videoModalClose {
    position: absolute;
    top: -23px;
    right: 0px;
    background-image: url(/images/icons/close-white.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
  
  .videoIframe {
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgb(0 0 0 / 60%);
    background: #000;
    max-width: 100%;
    border: none;
  }
  .video {
    width: min(85vw, 900px);
    height: 550px;
    box-shadow: 0 0 8px rgb(0 0 0 / 60%);
    background: transparent;
    border: none;
    overflow: hidden;
  }

/* ANALYSIS */
.wrapAnalysis {
    padding-top: 5rem;
    padding-bottom: 10rem;
    width: 100%;
    background-color: white
}

.wrapAnalysis .analysis {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}

.wrapAnalysis .analysis .analysisItem {
    width: 90%;
}

.wrapAnalysis .analysis .subTitle {
    font-size: 2rem;
    font-weight: bold;
    color: #010305
}

.wrapAnalysis .analysis .analysisItem .title {
    font-size: 6rem;
    line-height: 6.1rem;
    font-weight: bold;
    margin-top:  .5rem;
}

.wrapAnalysis .analysis .analysisItem .description {
    font-size: 1.6rem;
    line-height: 3rem;
    color: #797C7F;
    margin-top: 2.5rem
}

.wrapAnalysis .analysis .buttonCTA {
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(73,91,237,0.2);
    background-color:#495BED;
    color: white;
    padding: 1.5rem 5rem;
    font-size: 1.5rem;
    border-radius:  100px;
    margin-top:3rem
}

.analysis .listAnalysisItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.listAnalysisItem .contentAnalysisItem {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 100px;
}

.listAnalysisItem .contentAnalysisItem .wrapInfo {
    width: 100%;
    display: grid;
    grid-template-columns: 90px 1fr;
    gap: 2rem;
}

.listAnalysisItem .contentAnalysisItem .wrapInfo .wrapIcon {
    width: 100%;
    height: 90px;
    border-radius: 50%;
    background-color: #DCE0E8;
    display: flex;
    justify-content:center;
    align-items:center
}

.listAnalysisItem .contentAnalysisItem .wrapInfo .wrapIcon svg {
    width: 35px;
    height: 35px;
}

.listAnalysisItem .contentAnalysisItem .wrapInfo .info {
    width: 80%;
}

.listAnalysisItem .contentAnalysisItem .wrapInfo .info .title {
    font-size: 3rem;
    font-weight: 500;
}

.listAnalysisItem .contentAnalysisItem .wrapInfo .info .description {
    font-size: 1.6rem;
    color: #797C7F;
    margin-top: .5rem
}

.listAnalysisItem .contentAnalysisItem .number {
    width: 100%;
    font-size: 5rem;
    font-weight: bold;
    text-align: right
}

/* PEOPLE SAY */
.wrapPeopleSay {
    padding-top: 6rem;
    padding-bottom: 5rem;
    width: 100%;
    background-color: #F5F7FA
}

.wrapPeopleSay .subTitle {
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight:500
}

.wrapPeopleSay .title {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-top:1rem
}

.sliderPeople {
    width: 100%;
    display:flex;
    margin-top: 2rem;
    gap: 3rem;
}

.sliderPeopleItem {
    width: 100%;
    background-color: transparent;
    position: relative;
    padding: 4rem;
    padding-left: 8rem;
    display: flex;
    flex-direction: column;
}

.sliderPeopleItem:nth-child(2) {
    background-color: white;
}

.sliderPeopleItem .iconQuote {
    width: 10px;
    height: 10px;
    left: 4rem;
    top: 4rem;
    position: absolute;
}

.sliderPeopleItem .contentQuote {
    font-size: 1.8rem;
    color: #010305
}

.sliderPeopleItem  .authorQuote {
    width: 100%;
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 1rem;
    margin-top: 2.2rem;
}

.sliderPeopleItem  .authorQuote .wrapAvatar {
    width: 100%;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content:center;
    align-items:center;
}

.sliderPeopleItem  .authorQuote .wrapAvatar img {
    width: 100%;
    height: 100%;
    object-fit:cover
}

.sliderPeopleItem  .authorQuote .name {
    font-size: 2rem;
    font-weight: bold;
}

.sliderPeopleItem  .authorQuote .job {
    font-size: 1.6rem;
    color: #797C7F
}

/* ARTICLE */
.wrapArticle {
    padding-top: 10rem;
    padding-bottom: 5rem;
    width: 100%;
    background-color: white
}

.wrapArticle .subTitle {
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight:500
}

.wrapArticle .title {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-top:1rem
}

.wrapArticle .listArticle {
    width: 100%;
    display: flex;
    margin-top: 2rem;
    gap: 3rem;
}

/* CARD ARTICLE */
.cardArticle {
    width: 100%;
    max-width: 50rem;
}

.cardArticle:hover .thumbnailCard img {
    transform: scale(1.1);
    transition:  all 0.3s;
}

.cardArticle .wrapInfoCard {
    width: 100%;
}

.cardArticle .wrapInfoCard .thumbnailCard {
    width: 100%;
    height: 25rem;
    overflow: hidden;
}

.cardArticle .wrapInfoCard .thumbnailCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:  all 0.3s;
}

.cardArticle .wrapInfoCard .infoCard {
    width: 100%;
    margin-top: 1.5rem
}

.cardArticle .wrapInfoCard .infoCard .categoryCard {
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
}

.cardArticle .wrapInfoCard .infoCard .nameCard {
    width: 100%;
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 2.5rem;
    margin-top: .5rem;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.cardArticle .wrapInfoCard .infoCard .nameCard:hover {
    opacity: 0.7;
    transition: all 0.3s
}

.cardArticle .wrapInfoCard .infoCard  .moreInfoCard {
    width: 100%;
    display:flex;
    align-items: center;
    margin-top: 1rem
}

.cardArticle .wrapInfoCard .infoCard  .moreInfoCard .moreInfoItem {
    font-size: 1.4rem;
    color: #797C7F;
    font-weight: 500
}

.cardArticle .wrapInfoCard .infoCard  .moreInfoCard .moreInfoItem:last-child {
    padding-left: 2.8rem;
    position: relative;
}

.cardArticle .wrapInfoCard .infoCard  .moreInfoCard .moreInfoItem:last-child::before {
    content: "•́";
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem
}

/* BRAND */
.wrapBrand {
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: white
}

.wrapBrand .listBranch {
    width: 100%;
    display:flex;
    justify-content:center;
    align-items: center;
    gap: 2rem;
}

.wrapBrand .listBranch .wrapIcon {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    opacity: 0.2;
    transition: all 0.3s
}

.wrapBrand .listBranch .wrapIcon:hover {
    opacity: 1;
    transition: all 0.3s
}

.wrapBrand .listBranch .wrapIcon img {
    width: auto;
    max-width:100%;
    height: auto;
    object-fit: contain;
}

@media screen and (max-width: 768px) {
    .wrapPage {
        padding-bottom: 2rem;
    }

    .banner {
        width: calc(100vw - 100px);
        height: 30rem;
    }
    
    .slideItem .infoSlide .desSlide {
        font-size: 1.6rem;
    }
    
    .slideItem .infoSlide .titleSlide {
        font-size: 4rem;
        line-height: 3.6rem;
    }
    
    .slideItem .infoSlide .buttonSlide {
        font-size: 1.4rem;
        margin-top: 2rem;
    }
    

    /* SERVICE */
    .wrapService {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    
    .gridService {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
    }
    
    .gridService .serviceItem {
        gap: 1rem;
    }
    
    .gridService .serviceItem .wrapIcon {
        width: 6rem;
        height: 6rem;
    }

    .gridService .serviceItem .wrapIcon svg {
        width: 4rem;
        height: 4rem;
    }
    
    .gridService .serviceItem .titleService {
        font-size: 2rem;
        margin-top:1rem
    }
    
    .gridService .serviceItem .desService {
        font-size: 1.4rem;
    }
    /* LIST COURSE */
    .wrapCourse {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    
    .wrapCourse .desSection {
        font-size: 1.4rem;
    }
    
    .wrapCourse  .titleSection {
        font-size: 3rem;
    }
    
    .wrapCourse .gridCourse {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        margin-top: 4rem
    }
    
    /* SUBSCRIBE */
    .wrapSubscribe {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
    
    .wrapSubscribe .wrapIconSection {
        width: 5rem;
        height: 5rem;
    }
    
    .wrapSubscribe .wrapIconSection svg {
        width: 3rem;
        height: 3rem;
    }
    
    .wrapSubscribe .titleSection {
        font-size: 3rem;
        line-height: 3.6rem;
        max-width: 40rem;
        margin-top: 2rem
    }
    
    .wrapSubscribe .wrapFormSubscribe {
        max-width: 40rem;
        margin-top: 3rem;
    }
    
    .wrapSubscribe .wrapFormSubscribe .formSubscribe {
        height: 5rem;
    }
    
    .wrapSubscribe .wrapFormSubscribe .formSubscribe .txtInput {
        padding:0 3rem;
        padding-right: 1rem;
        font-size: 1.6rem;
    }
    
    .wrapSubscribe .wrapFormSubscribe .buttonSubmit {
        font-size: 1.3rem;
    }
    
    .wrapSubscribe .wrapFormSubscribe .buttonSubmit:hover {
        color: #495BED;
        transition: all 0.2s;
    }
    
    /* VIDEO */
    .wrapVideoDemo {
        padding-top: 3rem;
        padding-bottom: 5rem;
        width: 100%;
        background-color: #F5F7FA
    }
    
    .wrapVideoDemo .videoDemo {
        height: 30rem;
    }
    
    .wrapVideoDemo .videoDemo .buttonPlay {
        width: 5rem;
        height: 5rem;
    }
    
    .wrapVideoDemo .videoDemo .buttonPlay::after {
        width: 7rem;
        height: 7rem;
    }
    
    
    /* ANALYSIS */
    .wrapAnalysis {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    
    .wrapAnalysis .analysis {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: .5rem;
    }
    
    .wrapAnalysis .analysis .analysisItem {
        width: 90%;
    }
    
    .wrapAnalysis .analysis .subTitle {
        font-size: 1.8rem;
    }
    
    .wrapAnalysis .analysis .analysisItem .title {
        font-size: 4rem;
        line-height: 4.1rem;
    }
    
    .wrapAnalysis .analysis .analysisItem .description {
        font-size: 1.4rem;
        line-height: 2rem;
        margin-top: 2rem
    }
    
    .wrapAnalysis .analysis .buttonCTA {
        color: white;
        padding: 1.5rem 2rem;
        font-size: 1.2rem;
        margin-top:2rem
    }
    
    .analysis .listAnalysisItem {
        gap: 3rem;
    }
    
    .listAnalysisItem .contentAnalysisItem {
        grid-template-columns: 1fr 80px;
    }
    
    .listAnalysisItem .contentAnalysisItem .wrapInfo {
        grid-template-columns: 70px 1fr;
        gap: 1rem;
    }
    
    .listAnalysisItem .contentAnalysisItem .wrapInfo .wrapIcon {
        height: 70px;
    }
    
    .listAnalysisItem .contentAnalysisItem .wrapInfo .info {
        width: 80%;
    }
    
    .listAnalysisItem .contentAnalysisItem .wrapInfo .info .title {
        font-size: 2rem;
        line-height: 2.1rem
    }
    
    .listAnalysisItem .contentAnalysisItem .wrapInfo .info .description {
        font-size: 1.4rem;
    }
    
    .listAnalysisItem .contentAnalysisItem .number {
        font-size: 3rem;
    }
    
    /* PEOPLE SAY */
    .wrapPeopleSay {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
    
    .wrapPeopleSay .subTitle {
        font-size: 1.4rem;
    }
    
    .wrapPeopleSay .title {
        font-size: 3rem;
        margin-top: .5rem
    }
    
    .sliderPeople {
        width: calc(100vw - 132px);
        margin-top: 1rem;
        gap: 0rem;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }
    
    .sliderPeopleItem {
        flex-shrink: 0;
        background-color:white;
        padding: 2rem;
        padding-left: 5rem;
        scroll-snap-align: center;
    }
    
    .sliderPeopleItem .iconQuote {
        width: 4rem;
        height: 4rem;
        left: 2rem;
        top: 2rem;
    }
    
    .sliderPeopleItem .contentQuote {
        font-size: 1.6rem;
    }
    
    .sliderPeopleItem  .authorQuote {
        grid-template-columns: 60px 1fr;
        gap: .8rem;
        margin-top: 2rem;
        align-items: center;
    }
    
    .sliderPeopleItem  .authorQuote .wrapAvatar {
        height: 60px;
    }
    
    .sliderPeopleItem  .authorQuote .name {
        font-size: 1.8rem;
    }
    
    .sliderPeopleItem  .authorQuote .job {
        font-size: 1.4rem;
    }
    
    /* ARTICLE */
    .wrapArticle {
        padding-top: 5rem;
        padding-bottom: 3rem;
    }
    
    .wrapArticle .subTitle {
        font-size: 1.4rem;
    }
    
    .wrapArticle .title {
        font-size: 3rem;
    }
    
    .wrapArticle .listArticle {
        width: 100%;
        display: flex;
        margin-top: 2rem;
        gap: 3rem;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }
    
    /* CARD ARTICLE */
    .cardArticle {
        width: 100%;
        max-width: 50rem;
        flex-shrink: 0;
        scroll-snap-align: center;
    }
    
    .cardArticle .wrapInfoCard .thumbnailCard {
        height: 20rem;
    }
    
    .cardArticle .wrapInfoCard .infoCard {
        margin-top: 1rem
    }
    
    .cardArticle .wrapInfoCard .infoCard .categoryCard {
        font-size: 1.2rem;
    }
    
    .cardArticle .wrapInfoCard .infoCard .nameCard {
        font-size: 2rem;
        line-height: 2.3rem;
        margin-top: .3rem;
    }
    
    .cardArticle .wrapInfoCard .infoCard  .moreInfoCard {
        margin-top: .5rem
    }
    
    .cardArticle .wrapInfoCard .infoCard  .moreInfoCard .moreInfoItem {
        font-size: 1.2rem;
    }
    
    .cardArticle .wrapInfoCard .infoCard  .moreInfoCard .moreInfoItem:last-child::before {
        font-size: 1.5rem
    }
    
    /* BRAND */
    .wrapBrand {
        width: 100%;
        padding-top: 5rem;
        padding-bottom: 8rem;
        background-color: white
    }
    
    .wrapBrand .listBranch {
        gap: 2rem;
        flex-wrap: wrap;
    }
    
    .wrapBrand .listBranch .wrapIcon {
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        opacity: 0.2;
        transition: all 0.3s
    }
}

@media screen and (max-width: 480px) {
    .banner {
        width: 100vw;
    }
    
    .slideItem .infoSlide .titleSlide {
        line-height: 3.8rem;
    }
    
    /* SERVICE */
    .gridService {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .gridService .serviceItem {
        gap: 1rem;
    }

    /* LIST COURSE */
    .wrapCourse .titleSection {
        line-height: 3.2rem
    }

    .wrapCourse .gridCourse {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2rem;
        margin-top: 2rem
    }
    
    /* SUBSCRIBE */
    .wrapSubscribe .wrapIconSection {
        width: 4rem;
        height: 4rem;
    }
    
    .wrapSubscribe .wrapIconSection svg {
        width: 2rem;
        height: 2rem;
    }
    
    .wrapSubscribe .titleSection {
        font-size: 2.6rem;
        line-height: 3.1rem;
        max-width: unset;
        margin-top: 2rem
    }
    
    .wrapSubscribe .wrapFormSubscribe {
        max-width: unset;
        margin-top: 2rem;
    }
    
    .wrapSubscribe .wrapFormSubscribe .formSubscribe {
        height: 4.5rem;
    }
    
    .wrapSubscribe .wrapFormSubscribe .formSubscribe .txtInput {
        font-size: 1.2rem;
    }
    
    /* ANALYSIS */
    .wrapAnalysis .analysis {
        grid-template-columns: 1fr;
        grid-row-gap: 3rem;
    }
    
    .wrapAnalysis .analysis .analysisItem {
        width: 100%;
    }
    
    .listAnalysisItem .contentAnalysisItem {
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
    }
    
    .listAnalysisItem .contentAnalysisItem .wrapInfo .info {
        width: 100%;
    }
    
    .listAnalysisItem .contentAnalysisItem .number {
        font-size: 4rem;
        text-align: left;
    }
    
    /* PEOPLE SAY */
    .sliderPeople {
        width: 92vw;
        gap: 1rem;
    }
    
    
    /* ARTICLE */
    .wrapArticle .listArticle {
        width: 92vw;
        gap: 1rem;
    }
}