.formContainer {
    max-width: 400px;
}

@media screen and (max-width: 480px) {
    .stepperContainer, .formContainer{
        width: 200px;
    }
}

@media screen and (max-width: 768px) {
    .stepperContainer {
        width: 300px;
    }
}