.notFoundContainer {
    width: 100%;
    height: calc(100vh - 10rem);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.notFoundText {
    color: #666666;
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.statusText {
    opacity: 0.4;
    color: #888;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
}

@media screen and (max-width: 768px) {

    .notFoundText {
        font-size: 2.8rem;
    }
    
    .statusText {
        font-size: 1.8rem;
    }
  }