.loadingContainer {
    width: 100vw;
    height: calc(100vh - 10rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loadingText {
    color: #444;
    font-size: 1.2rem;
    margin-top: 2rem;
}
